@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    max-width: 100vw;
    height: auto;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* header */
.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: end;
    width: 100%;
    padding: 1%;
}

.header-links {
    display: flex;
    justify-content: center;
    align-items: end;
    text-align: center;
    flex-direction: row;
    width: 100%;
    max-width: 1200px;
    gap: 1rem;
    color: #f9faf8;
    font-style: italic;
    font-weight: 300;
    font-size: 18px;
}

.header-logo {
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: center;
    width: 100%;
    height: auto;
    color: #f9faf8;
    font-size: 24px;
}

/* Sign up Section */
.sign-up_section {
    padding: 1%;
    gap: 10px;
    color: #f9faf8;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    background-color: #1f2937;
    box-sizing: border-box;
    object-fit: cover;
    width: 100%;
    height: auto;
}

.me {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    object-fit: cover;
    height: auto;
    border-radius: 10px;
}

.content {
    background-color: cadetblue;
    gap: 1rem;
    width: 50%;
    height: auto;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}

.hero {
    height: auto;
    font-size: 48px;
    font-weight: 900;
    width: 100%;
}

.hero2 {
    height: auto;
    width: 100%;
    font-size: 18px;
    color: #e5e7eb;
}

.sing-up_button {
    border: none;
}


/* Product Section */
.product-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem;
    padding: 2rem;
    height: auto;
    width: 100%;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9faf8;
    color: black;
    width: 100%;
    height: auto;
    gap: 1rem;
    flex-wrap: wrap;
}

.items {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;

    width: 100%;
    height: auto;
}

.box {
    border: 3px solid rgb(46, 55, 134);
    width: 100%;
    height: auto;
    border-radius: 10px;
    padding: 5px;
    margin: 0 auto;
}

h2 {
    text-align: center;
    color: #f9faf8;
    font-size: 36px;
    font-weight: 900;
}

/* <class GG> quote */

.gg-container {
    text-align: center;
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #e5e7eb;
    padding: 3rem;
    width: fit-content;
}

.gg {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    font-weight: lighter;
    width: 100%;
}

/* call to action CTA */
.CTA {
    align-items: center;
    width: 100%;
    height: auto;
    justify-content: center;
    flex-direction: row;
    padding: 3%;
    color: #f9faf8;
    background-color: #f9faf8;
}

.CTA-container {
    background-color: #3882f6;
    border-radius: 5px;
    padding: 4%;
    gap: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
}

.CTA-button {
    border: solid white;
}

/* multiple selectors same items diff
sections.  */

button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: auto;
    border-radius: 10px;
    flex-wrap: nowrap;
    background-color: #3882f6;
    color: #f9faf8;
    padding: 1rem 4rem;
    text-align: center;
    flex-shrink: 0;
    cursor: pointer;   
}
