* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(180, 25%, 25%);
    display: flex;
    flex-direction: column;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* header */
.header-container {
    background-color: rgba(22, 70, 70, 0.732);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
    gap: 10rem;

}

.header-links {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    gap: 2rem;
    color: hsla(180, 100%, 99%, 0.663);
}

.header-logo {
    color: whitesmoke;
}

/* Sign up Section */
.sign-up_section {
    display: flex;
    flex-direction: row;
    background-color: rgb(16, 125, 105);
}

.me {

}

/* Product Section */
.product-container {
    display: flex;
    flex-direction: row;
    background-color: lightcoral;
    padding: 1rem;
    width: 100%;

}

.product {
/* display: block; */
flex-direction: column;
}


.box {
border: 3px solid rgb(46, 55, 134);
width: 100px;
height: 100px;
border-radius: 10px;
}

/* <class GG> quate */

.gg-container {
    text-align: center;
    display: flex;
    align-items: center;
    background-color: lightgray;
    height: 10rem;
    padding: 5rem;
    width: auto;
}

.gg {
    font-weight: 100;
}

.tortuga {
    position: relative;
    right: 4rem;
    flex-shrink: 0;
    top: 2rem;
}

/* call to action CTA */
.CTA {
    display: flex;
    flex-direction: row;
    background-color: rgba(151, 151, 247, 0.415);
}

.CTA-container {
    padding: 1rem;
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
}

.CTA-button {
    width: fit-content;
    height: 1.5rem;
    border-radius: 5px;
    position: relative;
    top: 1.6rem;
    left: 7rem;

}
